@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IntegralCF;
  src: url(/fonts/IntegralCF-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-display: swap
}

@font-face {
  font-family: IntegralCF;
  src: url(../../fonts/IntegralCF-Heavy.woff2) format("woff2");
  font-weight: 900;
  font-display: swap
}

@font-face {
  font-family: GuthenBoots;
  src: url(../../fonts/Guthen-Bloots-Basic.woff2) format("woff2");
  font-weight: 400;
  font-display: swap
}